.buy-main-contents {
  margin: auto;
  margin-top: 140px;
  margin-bottom: 20px;
  padding-top: 15px;
  width: 400px;
  height: 190px;
  background: #fff;
  border: solid 3px #3CCACE;
  border-radius: 30px;
  text-align: center;

  &__text{
    margin-top: 35px;
    text-align: center;
  }
}
.toppage_btn {
  height: 40px;
  color:white;
  text-align: center;
  background-color: #3CCACE;
  margin-top: 100px;
  padding-top: 14px;
  margin: auto;
  width: 200px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 2%;
}

.button{height: 40px;
  color:white;
  text-align: center;
  background-color: #3CCACE;
  margin-top: 100px;
  padding-top: 14px;
  margin: auto;
  width: 200px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 2%;

}