.mypage_Wrapper
  %section.mypage_title
    お気に入り一覧
  %section.like_Wrapper
    .like__box
      .like__box__product
        .like__image
          いふぶんと画像
        .like__name
          商品名
        %ul
          %li
            %spen.unit円
        .like__tax (税込)