.category_item{
  background-color: #f5f5f5;
  padding: 30px;
  margin-left: 340px;
  width: 950px;
  &__box{
    padding: 5px;
    margin-top: 20px;

    &__link{
      display: flex;
      flex-wrap: wrap;
      }
      &__name{
        font-size: 14px;
        margin-top: 10px;
      }
        img{
          width: 180px;
          object-fit: cover;
          height: 150px;
        }
      ul{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        li{
          font-weight: bold;
        }
      }
    
  }
  &__tax{
    font-size: 10px;
  }
  &__name{
    font-size: 22px;
    font-weight: bold;
  }
}
.category__items{
  width: 220px;
  padding: 20px;
  background-color: white;
  margin: 15px 15px 0 0;
  height: 300px;
}