.category_item{
  background-color: #f5f5f5;
  padding: 30px;
  margin-left: 340px;
  width: 950px;
  
  &__box{
    padding: 5px;
    margin-top: 20px;

    &__link{
      display: flex;
      flex-wrap: wrap;
      &__image{
        position: relative;
        img{
          width: 180px;
          object-fit: cover;
          height: 150px;
        }
        .out {
          display: inline-block;
          position: absolute;
          top: 48px;
          left: 38px;
          border-radius: 13%;
          font-size: 1.8rem;
          text-align: center;
          font-weight: bold;
          letter-spacing: 5px;
          padding: 5px 8px;
          background-color: red;
          color: #fff;
          transform: rotate(-18deg);
        }
      }
      }
      &__name{
        font-size: 14px;
        margin-top: 10px;
      }

      ul{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        li{
          font-weight: bold;
        }
      }
    
  }
  &__tax{
    font-size: 10px;
  }
  &__name{
    font-size: 22px;
    font-weight: bold;
  }
}
.category__items{
  width: 220px;
  padding: 20px;
  background-color: white;
  margin: 15px 15px 0 0;
  height: 300px;
}