.Wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-color:#F5F5F5;
}

.submit__btn{
  display: block;
  background-color: #3CCABE;
  color: white;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  height: 35px;
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 10px;
  input{
    width: 300px;
    height: 35px;
  }
}

.item{
  &__name{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
  }
  &__image{
    width: 700px;
    &__first{
      text-align: center;
      width: 550px;
      height: 350px;
      background-color: lightgray;
      margin: auto;
      img{
        width: 550px;
        height: 350px;
        object-fit: cover;
      }
    }
    &__full{
      width: 150px;
      height: 100px;
      text-align: center;
      background-color: lightgoldenrodyellow;
      img{
        object-fit: cover;
        width: 150px;
        height: 100px;
      }
    }
    ul{
      display: flex;
      margin-top: 10px;
      justify-content: center;
      width: 700px;
      flex-wrap: wrap;
      li{
        margin: 10px;
        display:table-cell; 
      }
    }
  }
  &__price{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    &__sub{
      font-size: 15px;
      font-weight: normal;
  }
 }
  &__btn{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    a{
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
      &__buy{
      display: block;
      background-color: rgb(31, 207, 199);
      border-radius: 20px;
      height: 50px;
      line-height: 50px;
    }
    &__edit{
      display: block;
      background-color: rgb(79, 141, 235);
      border-radius: 20px;
      height: 50px;
      line-height: 50px;
    }
    &__delete{
      display: block;
      background-color: rgb(236, 67, 152);
      border-radius: 20px;
      height: 50px;
      line-height: 50px;
    }
  }
  &__description{
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
  }
  &__info{
    margin-bottom: 20px;
    table {
      width: 90%;
      height: 400px;
      border: 1px solid #cdcece;
      margin: auto;
      tbody{
        tr{
          font-size: 14px;
          th{
            background-color: rgb(241, 241, 241);
            width: 25%;
            text-align: center;
            border: 1px solid rgb(223, 219, 219);
          }
          td{
            a{
              color: rgb(22, 216, 206);
            }
            background-color:white;
            border: 1px solid rgb(223, 219, 219);
            padding-left: 10px;
          }
        }
      }

    }
  }
}

.check_btn{
display: flex;
justify-content: space-between;
  &__like{
    margin-left: 20px;
    border:1px solid orange;
    border-radius: 30px;
    padding: 10px;
    a{
      color: rgb(20, 214, 221);
    }

  }
  &__bad{
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    a{
      color: black;
    }
  }
}
.comment{
  &__box{
    text-align: center;
    margin-top: 20px;
    textarea{
      width: 650px;
      height: 100px;
    }
  }
  &__message{
    background-color: #f8f8f8;
    margin: 10px 20px;
    padding: 10px;
    font-size: 14px;
  }
  &__submit{
    display: block;
    background-color: #3CCABE;
    width: 400px;
    text-align: center;
    border-radius: 30px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-decoration: none;
    margin-bottom: 20px;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

// show_link.html.hamlの部分
.link_items{
  background-color: #f5f5f5;
  padding: 5px;
}
.link_item{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color:#F5F5F5;
  a{
    text-decoration: none;
    color: rgb(31, 207, 199);
  }
}
  
.link__before{
  margin-left: 100px;
  }
.link__after{
  margin-right: 100px;
}
// another_item.html.hamlの部分
.another_item{
  background-color: #f5f5f5;
  padding: 30px;
  margin-left: 340px;
  &__category{
    a{
    color: rgb(31, 207, 199);
    font-weight: bold;
    font-size: 20px;
    }
  }
  &__box{
    padding: 5px;
    margin-top: 20px;
    width: 680px;
    &__link{
      display: flex;
      width: 200px;
      &__name{
        font-size: 14px;
        margin-top: 10px;
      }
        img{
          width: 180px;
          object-fit: cover;
          height: 150px;
        }
      ul{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        li{
          font-weight: bold;
        }
      }
    }
  }
  &__tax{
    font-size: 10px;
  }
}
.product{
  width: 200px;
  padding: 20px;
  background-color: white;
  margin-right: 15px;
  height: 250px;
}