.top-image
  .content
    .content__title
      人生を変えるフリマアプリ
    .content__text
      FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
    .content__btn
      .content__btn--apple
        apple
      .content__btn--google
        google

.choose
  .title
    FURIMAが選ばれる3つの理由
  %ul 
    %li aaa
    %li aaa
    %li aaa

.middle-image
  .content
    .content__title
      会員数日本一位
    .content__text
      FURIMAは、フリマアプリで最も人気。<br>
      出品・購入回数も業界最多です！<br>
      ほしかったあの商品に出会えるかもしれません。
    .content__btn
      .content__btn--apple
        apple
      .content__btn--google
        google
.feature
  .title
    FURIMAの特徴
  .items
    .item
      .item__img
      .item__title
        簡単に売り買いできる
      .item__text
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .item
      .item__img
      .item__title
        売上金は即日振込みに対応
      .item__text
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .item
      .item__img
      .item__title
        様々な支払いに対応
      .item__text
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.pickup
.pickup
.bottom-image
.footer
  aaa