.top-image
  .content
    .content__title
      人生を変えるフリマアプリ
    .content__text
      FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
    .content__btn
      .content__btn--apple
        apple
      .content__btn--google
        google


.choose
.middle-image
.feature
.pickup
.pickup
.bottom-image
.footer
  aaa