.mypage_Wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  color: black;
  background-color:#F5F5F5;
}
.mypage_title {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  padding: 24px 0 12px;
  position: relative;
}
.mypage_title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mypage_boxes {
  height: 180px;
  width: 800px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &__box {
    height: 120px;
    width: 120px;
    text-align: center;
    color: #3CCACE;
    background-color: #3CCACE;
    border: solid 2px;
    border-radius: 12px;
    margin: 30px 38px;
    transition: all .3s ease-in-out;
    .icon {
      padding-top: 20px;
      font-size: 35px;
      color: white;
    }
    .menu{
      font-size: 13px;
      color: white;
    }
  }
  &__box:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
}